body{
    font-family: "Fira Sans", Arial, sans-serif;
    margin: 0px;
    color: #141414;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3, p{
margin: 0px;
}

ul{
margin: 0px;
padding: 0px;
list-style: none;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: 3rem;
        max-width: initial !important;
    }
}